   /* main.css */
   
/* common */
html {
   background: #000;
   font-family: 'Pretendard';
   font-size: 10px;color: #fff;
}
body {font-size: 1.5rem;}
h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;margin: 3rem 0;}
h3 {font-size: 2.5rem;}

section {margin-bottom: 15rem;}
section:last-child {margin-bottom: 0;}
.inner {
   width: 90%;
   margin: auto;
   border: 1px solid #000;
}

/*** header ***/
/* header {background: #000;} */
.header_wrap {
display: flex;justify-content: space-between;align-items: center;
width: 97%;margin: auto;
}
header h1 {font-family: "Pacifico";}
header .gnb {
width: 3rem;height: 3rem;
font-size: 3rem;
line-height: 2.8rem;
cursor: pointer;
}

header .gnb_menu {
   display: none;
   position: absolute;top: 1rem;right: 1.5rem;
   width: 35rem;
   padding: 3.5rem 3rem;
   border: 1px solid darkgray;
   background: #000;
   font-size: 3rem;
}

header .gnb_menu li:hover {
   font-weight: 700;color: #000;
   text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}
header .gnb_menu .gnb_close {position: absolute;top: 0.5rem;right: 1rem;}


/*** section .main_visual ***/

/* .main_visual {background: lightcoral;} */
.main_visual .text_box {
   display: flex;justify-content: center;align-items: center;
   width: 100%;height: 100vh;
   /* background: lightsalmon; */
}
.main_visual p {
   position: relative;
   /* width: 70rem;height:40rem; */
   margin-right: 40rem;
   /* border:3px dotted lightgrey; */
   font-family: "Inter Tight";
   font-size: 11rem;letter-spacing: -0.3rem;line-height: 11.5rem;}
.main_visual span {
   position: absolute;right: -13em;top: 35%;
   padding: 1rem;
   /* width: 25rem;height:12rem; */
   font-size: 1.4rem;font-weight: 300;line-height: 2.1rem;letter-spacing: 0rem;
   /* border:1px dashed lightgrey; */
}





/***  section.profile ***/

.profile {
   height: 100vh;
   /* border:1px dashed lightgrey; */
}
.profile .profile_wrap {
   display: flex;justify-content: center;
   gap: 4.5rem;
   width: 85%;height: 100%;
   margin: auto;
   /* border:1px dashed lightgrey; */

}
.profile .my_pic {
   width: 40%;
   /* background: rgba(255,255,224,0.3) */
}
.my_pic img {
   display: block;width:90%;height: auto;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-radius: 25rem 25rem 0.5rem 0.5rem;
   margin: 1.5rem 0;}

.profile .my_info {
   width: 70%;
   padding-top: 3rem;
   border-bottom: 1px solid #fff;
   margin-bottom: 1.2rem;
}
.my_info>span {margin: 0 1.5rem 0 2rem;font-size: 3.2rem;font-weight: 600;}
.my_info strong {font-size: 1.8rem;font-weight: 400;}

.profile .detail_info {
   display: flex;gap: 4.5rem;
   width: 100%;
   padding: 0 5%;
   border-top: 1px solid #fff;
   margin-top: 1rem;
}
.profile .detail_info .detail_left {width: 55%;}
.profile .basic_info {margin-top: 5rem;font-size: 2rem;}
.profile .basic_info li {line-height: 2.3rem !important}
.profile .detail_info .info_box {width: 100%;margin-top: 5rem;}
.profile .detail_info span {
   display: block;
   margin-bottom: 2rem;
   font-family: "Inter Tight";
   font-size: 2.4rem;font-weight: 500;
   text-decoration: underline 0.1rem;
   text-underline-offset: 0.3rem
}
.profile .detail_info p, .profile .detail_info li {
   font-size: 1.8rem;font-weight: 400;line-height: 4rem;
}
.profile .softwares li {display: flex;justify-content: space-between;}



/* * * section.skills * * */

.skills {height: 100vh;}
.skills_wrap {
   width: 85%;height: 100%;
   margin: auto;
   /* border:1px dashed lightgrey; */
}
.skills_wrap .skill_list {
   display: flex;flex-wrap: wrap;justify-content: center;
   row-gap: 5rem;
}
.skills_wrap .skill_list li {
   display: flex;flex-direction:column;align-items: center;gap: 1.5rem;
   position: relative;
   width: calc(100% / 3);
   padding: 2rem;
   text-align: center;
}
.skill_list li .skill_bar {
   width:30rem;height:30rem;
   position: relative;
   border-radius: 50%;
   background: conic-gradient(#fff calc(var(--percentage) * 1%), rgba(255,255,255,0.1) 0);
   -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 1.8rem), black 0);
   display: flex;
   align-items: center;
}
.skill_list .skill_title {
   display: flex;flex-direction: column;align-items: center;
   position: absolute;left: 50%;top: 50%;
   transform: translate(-50%, -85%);
   font-size: 3.6rem;font-weight: 700;
}
.skill_list p {margin-top: 2.5rem;font-size: 1.8rem;}
 


   /* * * section.portfolio * * */
   
   .portfolio .portfolio_wrap {
      width: 85%;
      margin: auto;
      /* border:1px dashed lightgrey; */
   }
   .portfolio_wrap .por_div {
      display: flex;justify-content: space-between;
      width: 100%;}
   .portfolio .port_list {
      position: sticky;top: 0;
      width: 50rem;height: 20rem;
      padding: 1.5rem;
      font-size: 2rem;
      /* border: 1px solid #fff */
   }
   /* .portfolio .port_list {position: fixed;top: 0;left: 0;} */
   .portfolio .port_list li {margin-bottom: 0.3rem;}

   .portfolio .port_thumbnails {
      display: flex;flex-direction: column;
      flex-shrink: 0;flex-grow: 1;
      /* border: 1px solid gold */
   }
   .portfolio .port_thumbnails li {
      display: block;
      margin-bottom: 10rem;
      /* border: 1px solid white; */
   }
   .portfolio .port_thumbnails p {
      display: block;
      width: 30rem;margin-bottom: 0.2rem;
      font-size: 1.8rem;color: darkgray
   }
   .portfolio .port_thumbnails span {
      display: block;
      width: 30rem; 
      font-size: 3.2rem;font-weight: 700}
   .portfolio .contents_wrap {position: relative;}
   .portfolio .port_thumbnails li img {
      display: block;width: 100%;height: 50rem;
      margin: 3rem 0;
      border: .5rem solid rgba(255,255,255,0.7);
      border-radius: 0.5rem;
   }
   .portfolio .contents {margin-bottom: 1.2rem;font-size: 1.8rem;}
   .portfolio .contents strong {
      margin-bottom: 1rem;}
   .portfolio .contents p {color: darkgray}
   .portfolio .view_link {
      display: flex;justify-content: center;align-items: center;
      position: absolute;top: 0;right: 0;
      width: 20rem;height: 5rem;
      border: 1px solid #fff;
      border-radius: 2rem;
      font-size: 2rem;font-weight: normal;
   }
   

/* * * section.contact * * */

.contact .contact_wrap {
   display: flex;flex-direction: column;justify-content: center;align-items: center;
   width: 100%;height: 90vh;
   padding-bottom: 20rem;
}
.contact .ending_msg {
   width: 45%;height: 15rem;
   font-size: 7.5rem;font-weight: 700;
   text-align: center;
}
.contact .contact_info {
   width: 18%;height: auto;
   margin-top: 5rem;
   font-size: 2rem;font-weight: 400;line-height: 2.3rem;}
